@page "/reactchat/{username?}"

@using Microsoft.AspNetCore.SignalR.Client
@using Application.Chat
@using System.Text.Json

@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@inject HttpClient HttpClient
@inject IConfiguration Configuration

@implements IAsyncDisposable

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
<PageTitle>Chat</PageTitle>

<div style="height: 350px; overflow-x: none">

    <div style="font-family: 'Bebas Neue', sans-serif; font-size: 2em; margin:5px; border: 1px solid black; border-radius: 10px; padding: 10px;" 
    >Concurrent Users: @_clientsCnt</div>

    <label for="translateTo" style="font-family: 'Bebas Neue', sans-serif; font-size: 20px;">Translation</label>
    <select id="translateTo" @bind="translateTo">
        <option value="ko" selected>한국어</option>  
        <option value="en">영어</option>
        <option value="ja">일본어</option>
        <option value="zh-CN">중국어 간체</option>
        <option value="zh-TW">중국어 번체</option>
        <option value="vi">베트남어</option>
        <option value="id">인도네시아어</option>
        <option value="th">태국어</option>
        <option value="de">독일어</option>
        <option value="ru">러시아어</option>
        <option value="es">스페인어</option>
        <option value="it">이탈리아어</option>
        <option value="fr">프랑스어</option>
    </select>


    <div style="max-height: 300px; overflow-y: scroll; display: flex; flex-direction: column-reverse;" class="row">
        <ul id="messagesList">
            @foreach (var mes in _messages) {
                <div class="d-flex justify-content-between">
                
                <div style="flex:none">
                    @if (mes.showTranslatedText) {
                        <span style="font-family: 'VT323', monospace; font-size:20px">@($"{mes.userName}:")</span>
                        <span>@($"{mes.translation}")</span>
                    }
                    else {
                        <span style="font-family: 'VT323', monospace; font-size:20px">@($"{mes.userName}: ") </span>
                        <span>@($"{mes.message}")</span>
                    }
                </div>
                    <span>
                        <span>@TimeZoneInfo.ConvertTimeFromUtc(mes.sentTime, _localTimeZone).ToString("(yyyy'.'MM'.'dd'' - HH':'mm':'ss'') ")</span>

                        @if (mes.showTranslatedText) {
                            <button @onclick="()=>ShowOriginalMessage(mes)">original</button>
                        }
                        else {
                            <button @onclick="()=>ShowTranslatedMessage(mes)">translation</button>
                        }

                        @if (mes.userName.StartsWith(userName)) {
                            <button class="" @onclick="()=>OnDeleteButtonClickAsync(mes)">delete</button>
                        }
                    </span>
                </div>
            }
        </ul>
    </div>

    <div class="fixed-bottom bg-light p-2">
        <div class="container">
            <form class="row">
                <div class="col-auto" style="color: black;">
                    <label for="messageInput" style="font-family:'VT323', monospace; font-size:30px">@userName:</label>
                </div>
                <div class="col">
                    <input id="messageInput" class="form-control" @bind="_messageInput" size="50" />
                </div>

                <div class="col-auto">
                    <button @onclick:preventDefault class="btn btn-primary bg-success" @onclick="Send"
                        disabled="@(!_isConnected)" >Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


@code {
    private HubConnection? _hubConnection;
    private List<ChatMessageWithTranslation> _messages = new();
    private string? _messageInput;
    private int _clientsCnt;
    private TimeZoneInfo _localTimeZone = TimeZoneInfo.Local;

    [Parameter]
    public string? userName { get; set; }

    private bool _isConnected =>
        _hubConnection?.State == HubConnectionState.Connected;

    private string translateTo = "ko";

    // 메시지 삭제 버튼 입력 시 처리 함수
    public async Task OnDeleteButtonClickAsync(ChatMessage message) {
        if (_hubConnection is not null)
            await _hubConnection.SendAsync("DeleteMessage", JsonSerializer.Serialize(message));
    }

    // 채팅창에 키보드 입력 시 처리 함수
    public async Task HandleKeyDown(KeyboardEventArgs e) {
        if (e.Key == "Enter" && !string.IsNullOrWhiteSpace(_messageInput))
            await Send();
    }

    // 메시지를 채팅서버에 전송 함수
    private async Task Send() {
        // 채팅서버와 연결되어 있고 입력된 메시지가 비어있지 않으면 전송
        if (_hubConnection is not null && !string.IsNullOrWhiteSpace(_messageInput)) {
            await _hubConnection.SendAsync("SendMessage", userName, _messageInput); // 전송
            _messageInput = null; // 메시지 input value 비우기
        }
    }

    // 페이지 초기화 시 호출
    // 메시지들 로딩, SignalR 설정
    protected override async Task OnInitializedAsync() {
        HttpClient.BaseAddress = new Uri(Configuration["ServerUrl"]!);

        _hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/chathub"))
            .Build();

        _hubConnection.On<string>("ReceiveMessage", (json) => {
            var chatMessage = JsonSerializer.Deserialize<ChatMessage>(json);
            _messages.Add(new ChatMessageWithTranslation(chatMessage));
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("DeleteMessage", (json) => {
            var mesToDelete = JsonSerializer.Deserialize<ChatMessage>(json);
            _messages.RemoveAt(_messages.FindIndex((mes) => mes.isEqual(mesToDelete)));
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<string>("ReceivePrevMessages", (json) => {
            var prevMessages = JsonSerializer.Deserialize<List<ChatMessage>>(json);
            _messages = prevMessages.Select((mes) => new ChatMessageWithTranslation(mes)).ToList();
            InvokeAsync(StateHasChanged);
        });

        _hubConnection.On<int>("UpdateConnectedClientsCount", (count) => {
            _clientsCnt = count;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();

        await _hubConnection.SendAsync("AddConnectedUserName", userName);
    }

    // 페이지 종료 시 호출 함수. 채팅서버 연결 끊음.
    public async ValueTask DisposeAsync() {
        if (_hubConnection is not null)
            await _hubConnection.DisposeAsync();
    }

    public async Task ShowOriginalMessage(ChatMessageWithTranslation chatMessage) {
        chatMessage.showTranslatedText = false;
        InvokeAsync(StateHasChanged);
    }

    public async Task ShowTranslatedMessage(ChatMessageWithTranslation chatMessage) {
        chatMessage.showTranslatedText = await TranslateMessage(chatMessage);
        InvokeAsync(StateHasChanged);
    }

    public async Task<bool> TranslateMessage(ChatMessageWithTranslation chatMessage) {
        var response = await HttpClient.GetAsync($"api/Chat/translate?textToTransltate={chatMessage.message}&translateTo={translateTo}");
        if (response.IsSuccessStatusCode) {
            string translatedMsg = await response.Content.ReadAsStringAsync();
            if (translatedMsg.CompareTo(chatMessage.message) != 0) {
                chatMessage.translation = translatedMsg;
                return true;
            }
        }
        return false;
    }
}
